@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap'); 
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Special Gothic Expanded One", "sans-serif"; 
    font-weight: 400; 
    font-style: normal;
}
.header{
    height: 100vh;
    background-image: url(/89781.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;

}
.nav-list{
    list-style: none;
    display: flex;
    gap: 30px;
}
.nav-list li a{
    text-decoration: none;
    color: white;
    padding: 12px 12px;
    border-radius: 10px;
    background-color: rgba(42, 41, 41, 0.781);
}
.nav-list li a{
    transition: transform 0.5s ease;
}
.nav-list li:hover{
    transition: transform 0.3s ease;
    transform: scale(1.1);
}
#website-logo a{
    text-decoration: none;
    font-size: 3rem;
    font-weight: 200px;
    color: white;
}
#website-logo:hover{
    transition: transform 0.3s ease;
    transform: scale(1.1);
}