@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap'); 
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Special Gothic Expanded One", "sans-serif"; 
    font-weight: 400; 
    font-style: normal;
}
.header{
    height: 100vh;
    background-color: orange;
}
.navbar{
    display: flex;
    justify-content: end;
    align-items: center;
}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 25px 30px;   
    margin: 0;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
}
.navbar ul li{
    border: 1px solid black;
    padding: 7px 7px;
    border-radius: 4px;
    transition: transform 0.3s ease;
}
.navbar ul li:hover{
    transform: scale(1.1);
}
.